<!DOCTYPE html>
<html>
    <head>
        <title>Stylist Page</title>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <link rel="stylesheet" href="styles.css" type="text/css">

    </head>
    <body>
        <div class="container">
            <h1>You selected {{ stylist.getName }}!</h1>

                {% if clients is not empty %}
                    <p>Here are the clients:</p>
                    <ul>
                        {% for person in clients %}
                            <li>
                                {{ person.getName }}
                                <a href="/client/{{ person.getId }}/edit"><button type="submit">Edit Client</button></a>
                            </li>

                        {% endfor %}
                    </ul>

                    <form action="/clients_deleteAll" method="post">
                        <input id="stylist_id" name="stylist_id" type="hidden" value="{{ stylist.getId() }}">
                        <button type="submit">Delete All Clients for this Stylist</button>
                    </form>
                {% endif %}


                <p>Create a new Client:</p>

                <form action="/client_add" method="post">
                    <input id="stylist_id" name="stylist_id" type="hidden" value="{{ stylist.getId() }}">
                    <label for="name">Client name:</label>
                    <input id="name" name="name" type="text" required>

                    <button type="submit" class="btn-success">Add Client</button>
                </form>

                <a href='/'><button type="submit">Back to all Stylists</button></a>
                <a href="/stylists/{{ stylist.getId }}/edit"><button type="submit">Edit Stylist</button></a>


        </div>
    </body>
</html>
